/* src/App.css */
body {
  background-color: #143CDA;
  color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}

.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  /* padding-bottom: 120px; Ensure space for the bottom border */
  cursor: pointer;
  /* font-family: 'Arial Black', Arial, sans-serif; */
  letter-spacing: 1px; 
}

.logo {
  position: absolute;
  top: 10px;
  left: 50px;
  width: 300px; /* Adjust the width as needed */
  height: auto;
  z-index: -1;
}

h1 {
  color: white;
  letter-spacing: 6px;
}

input {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
}

input {
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 16px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input:focus {
  border-color: blue;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.guess-button{
  background-color: white;
  color:#0033cc;
  border-radius: 8px;
  font-weight: bolder;

  padding: 10px 20px;
    background-color: white;
    /* color: black; */
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.settings-button{
  color:white;
}

.container{
  min-height: 60vh;
}

.header-container{
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}

.input-container{
  display: flex;
  justify-content: center;
  flex: 1;
}

.guesses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 160px;
  /* flex: 1; */
  min-height: 30vh;
}

.guesses-container .player-card {
  flex: 1 0 20%; /* Adjust this value to make sure it takes up roughly one-fifth of the row */
  max-width: 20%;
  min-width: 350px;
  box-sizing: border-box;
  margin: 10px;
}

.settings-dialog{
  width: 400px;
}

.legend {
  margin-top: 20px;
  text-align: left;
  position: relative;
  bottom: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.legend h2 {
  margin-bottom: 10px;
  color: white;
}

.legend .groups, .legend .position-groups {
  margin-bottom: 20px;
}

.legend strong {
  display: inline-block;
  width: 100px;
}

.settings {
  margin-bottom: 20px;
}

.settings label {
  font-size: 1.2em;
  color: white;
}

.settings select {
  margin-left: 10px;
  padding: 5px;
  font-size: 1em;
}

.bottom-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Adjust the height as needed */
  background: url('./footer-ue.jpg') no-repeat center bottom;
  background-size: cover;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .logo{
    margin-top: 33%;
  }

  .guess-counter{
    margin-top: 0;
  }

  .header-container{
    padding-top: 0;
  }
}
