.legend {
    text-align: center;
  }
  
  .groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .group {
    background-color: #0033cc;
    border: 1px solid #637fd1;
    color: white;
    /* border-radius: 8px; */
    padding: 10px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 10px;
    width: 250px;
  }
  
  .group h3 {
    background-color: #002080;
    /* border-radius: 5px 5px 0 0; */
    margin: 0;
    padding: 5px;
    font-size: 1em;
    width: 100%
  }
  
  .group-A h3 { background-color: #00b050; }
  .group-B h3 { background-color: #04278f; color: 'white';}
  .group-C h3 { background-color: #ff0000; }
  .group-D h3 { background-color: #ffcc00; }
  .group-E h3 { background-color: #bfbfbf; }
  .group-F h3 { background-color: #1f1f1f; }
  
  .group ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .group li {
    padding: 5px;
  }

  .diagonal-outline {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 1.2em;
    background-color: yellow;
    color: black;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

.diagonal-outline::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: none;
    border: 2px solid black;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    z-index: -1;
}
  

/* Media query for mobile devices */
@media (max-width: 600px) {
  .group{
    width: 150px;
  }
  h3{
    font-size: smaller;
  }
}
